<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous">

<title>Lista de Cleaner</title>
</head>

<style type="text/css">
body {
	background-image: url(/imagens/Fundo.png);
	background-color: #00CDCD;
}

h2 {
	font-weight: bold;
	color: #696969;
}

#titleCard{

}



</style>

<body>

	<nav
		class="navbar navbar-light navbar-expand-lg bg-light justify-content-between">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target=".dual-nav">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div
				class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">

			</div>

			<a href="/"
				class="navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25"><img
				src="imagens/Logo.png" alt="Logo" style="width: 150px;"></a>
			<div class="navbar-collapse collapse dual-nav w-50 order-2">
				<br>
				<ul class="nav navbar-nav ml-auto">
					<div class="mr-2">
						<button type="button" class="btn btn-primary" data-toggle="modal"
							data-target="#modalCadastro"
							style="background-color: #008b8b; border-color: #008b8b">Cadastre-se</button>
						<!-- MODAL CADASTRAR -->
						<div class="modal fade" id="modalCadastro" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered modal-xl"
								role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel"
											style="font-size: 30px; font-weight: bold;">Selecione o
											seu tipo de usuário</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Fechar">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>

									<div class="modal-body">
										<div class="container">
											<div class="row">
												<div class="col-md-12">
													<div class="row">

														<!--CLEANER -->
														<div class="col-md-6" align="center">
															<img width="60%" src="imagens/040-glove.png"> <br>
															<br>
															<h1 style="font-weight: bold;">Cleaner</h1>
															<br> <br> <a class="btn btn-primary btn-lg"
																th:href="@{/addCleaner/}"
																style="background-color: #008b8b; border-color: #008b8b"></i>Selecionar</a>
														</div>

														<!--CLIENTE -->
														<div class="col-md-6" align="center">
															<img width="60%" src="imagens/teamwork.png"> <br>

															<br>
															<h1 style="font-weight: bold;">Cliente</h1>
															<br> <br> <a class="btn btn-primary btn-lg"
																th:href="@{/addCliente/}"
																style="background-color: #008b8b; border-color: #008b8b"></i>Selecionar</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<br>
					<div>
						<button type="button" class="btn btn-primary" data-toggle="modal"
							data-target="#modalEntrar"
							style="background-color: #008b8b; border-color: #008b8b">
							<i class="fas fa-sign-in-alt" style="margin-right: 5px"></i>Entrar
						</button>
						<!-- MODAL CADASTRAR -->
						<div class="modal fade" id="modalEntrar" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered modal-xl"
								role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel"
											style="font-size: 30px; font-weight: bold;">Selecione o
											seu tipo de usuário</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Fechar">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>

									<div class="modal-body">
										<div class="container">
											<div class="row">
												<div class="col-md-12">
													<div class="row">

														<!--CLEANER -->
														<div class="col-md-6" align="center">
															<img width="60%" src="imagens/040-glove.png"> <br>
															<br>
															<h1 style="font-weight: bold;">Cleaner</h1>
															<br> <br> <a class="btn btn-primary btn-lg"
																th:href="@{//}"
																style="background-color: #008b8b; border-color: #008b8b"></i>Selecionar</a>
														</div>

														<!--CLIENTE -->
														<div class="col-md-6" align="center">
															<img width="60%" src="imagens/teamwork.png"> <br>
															<br>
															<h1 style="font-weight: bold;">Cliente</h1>
															<br> <br> <a class="btn btn-primary btn-lg"
																th:href="@{/EntrarCliente/}"
																style="background-color: #008b8b; border-color: #008b8b"></i>Selecionar</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</ul>
				<br>
			</div>
		</div>
	</nav>
	<br>
	
	
	

	<div class="card text-center">
		<div class="card-header" id="titleCard">
			<h2>Dashbord de Aprovacao</h2>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<div class="table-responsive">
					<table
						class="table table-sm table-striped table-hover table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>CPF</th>
								<th>EMAIL</th>
								<th>NOME</th>
								<th>RG</th>
								<th>TELEFONE</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="Cleaner : ${cleaners}">
								<td th:text="${Cleaner.id}"></td>
								<td th:text="${Cleaner.cpf}"></td>
								<td th:text="${Cleaner.email}"></td>
								<td th:text="${Cleaner.nomecompleto}"></td>
								<td th:text="${Cleaner.rg}"></td>
								<td th:text="${Cleaner.telefone1}"></td>
								<td>
									<div class="btn-group pull-right">
										<a class="btn btn-sm btn-primary"
											th:href="@{/aprovarCleaner/{id}/{email}(id=${Cleaner.id}, email=${Cleaner.email})}">Aceitar Cadastro</a> 
											<a class="delete btn btn-sm btn-danger"
											th:href="@{/recusarCleaner/{id}/{email}(id=${Cleaner.id}, email=${Cleaner.email})}">Recusar Cadastro</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>



</body>
</html>